<style>
    .cart-badge {
        display: inline-block;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        margin-left: -20px;
        position: absolute;
        top: 16px;
        right: 226px;
    }
</style>
<span class="cart-badge">@ViewBag.QuantityCart</span>

