@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
<section class="cart">
    <table class="cart-table">
        <tbody>
            <tr>
                <td colspan="6" style="text-align:center; padding:20px;">
                    <img src="~/Asset/Image/EmptyCart.jpg">
                </td>
            </tr>
        </tbody>
    </table>
</section>

