.btn_custom,
.btn_add {
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_add {
    background-color: #e61038;
    border-color: #e61038;
    color: #fff;
}

.btn_custom {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.mt-4 {
    margin-top: 4px;
}

.icon-down {
    text-align: center;
}

    .icon-down a {
        color: #333;
    }
