@model ILoveKFC.Models.RECEIPT

@{
    ViewBag.Title = "OrderStatistics";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>So luong don hang</h2>
<div>
    <p>Total number of orders: @ViewBag.TotalOrders</p>
    <!-- Các thông tin thống kê khác có thể được hiển thị tại đây -->
</div>

